body {
    font-family: "Raleway"
}

footer {
    background-color: #403B3B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-recipe-open {
    background-color: #008000;
    border: 0;
}

.logo-Kochwelt-text {
    height: 64px;
    filter: invert(1);
}

.logo-socialmedia {
    height: 64px;
}