body {
    font-family: "Raleway";
    margin: 0px;
}

footer {
    height: 128px;
    background-color: #403B3B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

<<<<<<< HEAD /* this code i don't understand */
.recipeOfday {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 80px;

}

.main-right {
    display: flex;
    flex-direction: column;

}

.recipe-img {
    height: 400px;
    border-radius: 10px;
}

.recipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
}

a {
    text-decoration: none;
}



.button {
    background-color: #008000;
    color: white;
    border: 0;
}

.button-recipe-open {
    background-color: #008000;
    color: white;
    border: 0;
    padding: 8px 16px;
    text-align: center;
    width: 150px;
    margin-top: 16px;

}
/* that's ok? So become all buttons hover */
.button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #28a528;
}
/* .button-recipe-open:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #28a528;
} */

.button-contact {
    border-radius: 2px;
}
.recipe_container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: center;
    background-color: #EFEFEF;
    margin-top: 64px;



}

.recipe_images {
    height: 200px;
    display: flex;
    border-radius: 10px;
    width: 190px;

}

.recipe-titel {
    color: black;
    font-weight: 600;
}

.headline_tips {
    margin-top: 48px;
    margin-bottom: 48px;
}




.blog_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.blog_text {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
    gap: 32px;
    margin-top: 32px;
}



.wok_img {
    height: 150px;
    border-radius: 8px;

}

.recipe_tips {
    display: flex;
    margin-bottom: 64px;
    ;
    justify-content: space-around;
    text-decoration: none;
}




.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-div-icon {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe-icons {
    height: 16px;
    width: 16px;
    padding-right: 5px;
}

.logo-Kochwelt-text {
    height: 64px;
    filter: invert(1);
}

.logo-socialmedia {
    height: 48px;
    padding-right: 8px;
}

.contact-outside {
    background-color: #EFEFEF;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.contact-inside {
    width: 390px;
}

.contact-input {
    width: 370px;

}