body {
    font-family: "Raleway"
}

footer {
    height: 128px;
    background-color: #403B3B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-color: #008000;
    color: white;
    border: 0;
}

.button-recipe-open {
    background-color: #008000;
    border: 0;
}

.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-div-icon {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe-icons {
    height: 16px;
    width: 16px;
    padding-right: 5px;
}

.logo-Kochwelt-text {
    height: 64px;
    filter: invert(1);
}

.logo-socialmedia {
    height: 48px;
    padding-right: 8px;
}

.contact-outside {
    background-color: #EFEFEF;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.contact-inside {
    width: 390px;
}

.contact-input {
    width: 370px;

}